@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 1800px;
    width: 100%;
    background-color: rgb(229, 224, 224);
    
}

.navbar{
    height: 80px;
    width: 100%;
    background-color: rgb(41, 39, 39);
    
}
.row21{
    color: white;
    width: 150px;
    height: 70px;
    font-size: 26px;
    padding-top: 19px;
    padding-left: 484px;
    text-decoration: none;
    font-family: 'AR One Sans', sans-serif;
    float: left;
    text-decoration: underline solid rgb(105, 30, 69);;
}
.row21:hover{
    color: rgb(105, 30, 69);
    width: 150px;
    height: 70px;
    font-size: 26px;
    padding-top: 19px;
    padding-left: 484px;
    text-decoration: none;
    font-family: 'AR One Sans', sans-serif;
    float: left;
    text-decoration: underline solid white;
}
.row22{
    color: white;
    width: 180px;
    height: 70px;
    font-size: 26px;
    padding-top: 19px;
    font-family: 'AR One Sans', sans-serif;
    float: left;
    text-decoration: none;
    text-decoration: underline solid rgb(105, 30, 69);;
}
.row22:hover{
    color: rgb(105, 30, 69);
    width: 180px;
    height: 70px;
    font-size: 26px;
    padding-top: 19px;
    font-family: 'AR One Sans', sans-serif;
    float: left;
    text-decoration: none;
    text-decoration: underline solid white;
}
.row23{
    color: white;
    width: 180px;
    height: 70px;
    font-size: 26px;
    padding-top: 19px;
    font-family: 'AR One Sans', sans-serif;
    float: left;
    text-decoration: none;
    text-decoration: underline solid rgb(105, 30, 69);;

}
.row23:hover{
    color: rgb(105, 30, 69);
    width: 180px;
    height: 70px;
    font-size: 26px;
    padding-top: 19px;
    font-family: 'AR One Sans', sans-serif;
    float: left;
    text-decoration: none;
    text-decoration: underline solid white;

}

.row25{
    color: white;
    width: 150px;
    height: 70px;
    font-size: 26px;
    padding-top: 19px;
    font-family: 'AR One Sans', sans-serif;
    float: left;
    text-decoration: none;
    text-decoration: underline solid rgb(105, 30, 69);;

}

.row25:hover{
    color: rgb(105, 30, 69);
    width: 150px;
    height: 70px;
    font-size: 26px;
    padding-top: 19px;
    font-family: 'AR One Sans', sans-serif;
    float: left;
    text-decoration: none;
    text-decoration: underline solid white;

}
.info{
    height: 850px;
    width: 100%;
    border-radius: 20px;
    margin: auto;
    margin-top: 230px;
    font-family: 'AR One Sans', sans-serif;
    
}
.info img{
    height: 350px;
    width: 350px;
    position: absolute;
    right: 240px;
    cursor: pointer;
    transition: 2s;
    bottom: 120px;
    
}
.info img:hover{
    height: 340px;
    width: 340px;
    position: absolute;
    right: 235px;
    color: bei;
}   
.name{
    font-size: 40px;
    color: rgb(105, 30, 69);
    font-family: 'AR One Sans', sans-serif;
    position: absolute;
    right: 60%;
    margin-bottom: 100px;
    padding-bottom: 50px;
    
}
.name2{
    font-size: 40px;
    color: rgb(40, 38, 39);
    font-family: 'AR One Sans', sans-serif;
    position: absolute;
    right: 48%;
    margin-bottom: 100px;

}
.name3{
    font-family: 'AR One Sans', sans-serif;
    color: rgb(40, 38, 39);
    font-size: 24px;
    position: absolute;
    bottom: 240px;
    right: 600px;
    text-align: center;

}
.social{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 500px;
    text-decoration: none;
    margin-top: 176px;
    margin-left: 376px;
    margin-bottom: 50px;
    cursor: pointer;

    
    
}
.skills{
    height: 600px;
    width: 100%;
    position: absolute;
    left: 230px;

    
}
.skills1{
    font-size: 35px;
    font-family: 'AR One Sans', sans-serif;
    display: flex;
    justify-content: center;
    margin-left: -499px;
}
.skills2{
    font-size: 20px;
    font-family: 'AR One Sans', sans-serif;
    display: flex;
    justify-content: center;
    margin-left: -480px;
}
.img3{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 300px;
    top: 1090px;
    transition: 3s;
}
.img3:hover{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 290px;
    top: 1070px;

}
.front{
    height: 150px;
    width: 400px;
    border: 2px solid black;
    display: flex;
    float: left;
    justify-content: center;
    position: absolute;
    bottom: -420px;
    left: 920px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.6);
    font-family: 'AR One Sans', sans-serif;
    
}
.tech{
    height: 150px;
    width: 400px;
    border: 2px solid black;
    display: flex;
    float: left;
    justify-content: center;
    position: absolute;
    bottom: -620px;
    left: 920px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.6);
    font-family: 'AR One Sans', sans-serif;
    
}
.lang{
    height: 150px;
    width: 400px;
    border: 2px solid black;
    display: flex;
    float: left;
    justify-content: center;
    position: absolute;
    bottom: -820px;
    left: 920px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.6);
    font-family: 'AR One Sans', sans-serif;
   
}
.front .f1{
    font-size: 30px;
    color: rgb(105, 30, 69);
}
.tech .t1{
    font-size: 30px;
    color: rgb(105, 30, 69);
}
.lang .l1{
    font-size: 30px;
    color: rgb(105, 30, 69);
}


.p1{
    position: absolute;
    top: 50px;
    font-size: 23px;
    justify-content: center;

}
.p2{
    position: absolute;
    top: 50px;
    font-size: 23px;
    justify-content: center;

}
.p3{
    position: absolute;
    top: 50px;
    font-size: 23px;
    justify-content: center;

}

.footer{
    height: 25px;
    width: 450px;
    font-family: 'AR One Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 1730px;
    left: 640px;
}

.whats{
    height: 120px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    float: left;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    left: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6);
    font-family: 'AR One Sans', sans-serif;
    background-color: white;
    
}
.address{
    height: 120px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    float: left;
    justify-content: center;
    position: absolute;
    bottom: 250px;
    left: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6);
    font-family: 'AR One Sans', sans-serif;
    background-color: white;
    
}
.email{
    height: 120px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    float: left;
    justify-content: center;
    position: absolute;
    bottom: 400px;
    left: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6);
    font-family: 'AR One Sans', sans-serif;
    background-color: white;
   
}
.whats .w1{
    font-size: 30px;
    color: rgb(105, 30, 69);
}
.address .add{
    font-size: 30px;
    color: rgb(105, 30, 69);
}
.email .em{
    font-size: 30px;
    color: rgb(105, 30, 69);
}


.w12{
    position: absolute;
    top: 40px;
    font-size: 18px;
    justify-content: center;

}
.add1{
    position: absolute;
    top: 40px;
    font-size: 18px;
    justify-content: center;

}
.em1{
    position: absolute;
    top: 40px;
    font-size: 18px;
    justify-content: center;

}
.get{
    height: 100px;
    width: 1000px;
    font-family: 'AR One Sans', sans-serif;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 280px;

}
.form{
    height: 500px;
    width: 1000px;
    font-family: 'AR One Sans', sans-serif; 
    text-align: center;
    position: absolute;
    top: 300px;
    left: 420px;
    font-size: 20px;
    


}
.form:hover{
    height: 500px;
    width: 1000px;
    font-family: 'AR One Sans', sans-serif; 
    text-align: center;
    position: absolute;
    top: 300px;
    left: 420px;
    font-size: 20px;
    color:rgb(105, 30, 69); 


}
.n1{
    height: 35px;
    width: 500px;
    border-radius: 10px;
    right: 220px;
    text-align: center;
    font-family: 'AR One Sans', sans-serif;
    top: 60px;
    right: 250px;
    position: absolute;
}
.n2{
    height: 85px;
    width: 500px;
    border-radius: 10px;
    position: absolute;
    top: 120px;
    right: 250px;
    text-align: center;
    font-family: 'AR One Sans', sans-serif;
    
}
.n3{
    height: 100px;
    width: 500px;
    border-radius: 10px;
    position: absolute;
    top: 120px;
    right: 250px;
    text-align: center;
    font-family: 'AR One Sans', sans-serif;
}
.n4{
    height: 45px;
    width: 150px;
    border-radius: 10px;
    color: white;
    background-color: rgb(105, 30, 69);
    font-weight: bold;
    position: absolute;
    top: 250px;
    right: 330px; 
    font-family: 'AR One Sans', sans-serif;
    cursor: pointer;
    transition: 1s;
}
.n4:hover{
    height: 45px;   
    width: 150px;
    border-radius: 10px;
    color: white;
    background-color: rgb(23, 21, 21);
    font-weight: bold;
    position: absolute;
    top: 250px;
    right: 330px; 
    font-family: 'AR One Sans', sans-serif;
    cursor: pointer;
}
.n5{
    height: 45px;
    width: 150px;
    border-radius: 10px;
    color: white;
    background-color: rgb(105, 30, 69);
    font-weight: bold;
    position: absolute;
    top: 250px;
    right: 530px; 
    font-family: 'AR One Sans', sans-serif;
    cursor: pointer;
    transition: 1s;
}
.n5:hover{
    height: 45px;
    width: 150px;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-weight: bold;
    position: absolute;
    top: 250px;
    right: 530px; 
    font-family: 'AR One Sans', sans-serif;
    cursor: pointer;
}





.acad1{
    height: 150px;
    width: 550px;
    border: 2px solid black;
    display: flex;
    position: absolute;
    top: 160PX;
    left: 100PX;
    font-family: 'AR One Sans', sans-serif;
    font-size: 30px;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.6);
    transition: 1s;
    border-radius: 12px;
}

.acad1:hover{
    height: 150px;
    width: 550px;
    border: 2px solid black;
    display: flex;
    position: absolute;
    top: 160PX;
    left: 100PX;
    font-family: 'AR One Sans', sans-serif;
    font-size: 30px;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.6);
    color: white;
    background-color:rgb(105, 30, 69); ;
    cursor: pointer;
}

.acad2{
    height: 150px;
    width: 550px;
    border: 2px solid black;
    display: flex;
    position: absolute;
    top: 360PX;
    left: 800PX;
    font-family: 'AR One Sans', sans-serif;
    transition: 1s;
    font-size: 30px;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    
}

.acad2:hover{
    height: 150px;
    width: 550px;
    border: 2px solid black;
    display: flex;
    position: absolute;
    top: 360PX;
    left: 800PX;
    font-family: 'AR One Sans', sans-serif;
    font-size: 30px;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.6);
    color: white;
    background-color:rgb(105, 30, 69); ;
    cursor: pointer;
}
    
.acad3{
    height: 150px;
    width: 550px;
    border: 2px solid black;
    display: flex;
    position: absolute;
    top: 560PX;
    left: 100PX;
    font-family: 'AR One Sans', sans-serif;
    font-size: 30px;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.6);
    transition: 1s;
    border-radius: 12px;
}

.acad3:hover{
    height: 150px;
    width: 550px;
    border: 2px solid black;
    display: flex;
    position: absolute;
    top: 560PX;
    left: 100PX;
    font-family: 'AR One Sans', sans-serif;
    font-size: 30px;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.6);
    color: white;
    background-color:rgb(105, 30, 69); ;
    cursor: pointer;
}

.acad4{
    height: 150px;
    width: 550px;
    border: 2px solid black;
    display: flex;
    position: absolute;
    top: 760PX;
    left: 800PX;
    font-family: 'AR One Sans', sans-serif;
    transition: 1s;
    font-size: 30px;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    
}

.acad4:hover{
    height: 150px;
    width: 550px;
    border: 2px solid black;
    display: flex;
    position: absolute;
    top: 760PX;
    left: 800PX;
    font-family: 'AR One Sans', sans-serif;
    font-size: 30px;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.6);
    color: white;
    background-color:rgb(105, 30, 69); ;
    cursor: pointer;
}

.acad5{
    height: 150px;
    width: 550px;
    border: 2px solid black;
    display: flex;
    position: absolute;
    top: 960PX;
    left: 100PX;
    font-family: 'AR One Sans', sans-serif;
    font-size: 30px;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.6);
    transition: 1s;
    border-radius: 12px;
}
 
.acad5:hover{
    height: 150px;
    width: 550px;
    border: 2px solid black;
    display: flex;
    position: absolute;
    top: 960PX;
    left: 100PX;
    font-family: 'AR One Sans', sans-serif;
    font-size: 30px;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.6);
    color: white;
    background-color:rgb(105, 30, 69); ;
    cursor: pointer;
}

.b1{
    height: 200px;
    width: 250px;
    border: 2px solid black;
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 15px 10px;
    overflow: hidden;
    left: 150px;
    bottom: 350px;
    
    
}

.b2{
    height: 200px;
    width: 250px;
    border: 2px solid black;
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 15px 10px;
    overflow: hidden;
     left: 650px;
    bottom: 350px;
    
   
    
}
.b3{
    height: 200px;
    width: 250px;
    border: 2px solid black;
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 15px 10px;
    overflow: hidden;
     left: 1150px;
    bottom: 350px;
    
   
    
}
.info6{
    height: 100PX;
    width: 500px;
    font-size: 30px;
    display: flex;
    position: absolute;
    top: 400px;
    left: 150px;
    font-family: 'AR One Sans', sans-serif;
}

.info7{
    height: 100PX;
    width: 500px;
    font-size: 30px;
    display: flex;
    position: absolute;
    top: 400px;
    left: 665px;
    font-family: 'AR One Sans', sans-serif;
}

.info8{
    height: 100PX;
    width: 500px;
    font-size: 30px;
    display: flex;
    position: absolute;
    top: 400px;
    left: 1120px;
    font-family: 'AR One Sans', sans-serif;
}

.b4{
    height: 200px;
    width: 250px;
    border: 2px solid black;
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 15px 10px;
    overflow: hidden;
    left: 150px;
    bottom: 10px;
    
   
    
}
.b5{
    height: 200px;
    width: 250px;
    border: 2px solid black;
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 15px 10px;
    overflow: hidden;
     left: 650px;
    bottom: 10px;
    
   
    
}
.b6{
    height: 200px;
    width: 250px;
    border: 2px solid black;
    text-align: center;
    position: absolute;
    box-shadow: 0px 0px 15px 10px;
    overflow: hidden;
     left: 1150px;
    bottom: 10px;
    
   
    
}
.info9{
    height: 100PX;
    width: 500px;
    font-size: 30px;
    display: flex;
    position: absolute;
    top: 750px;
    left: 150px;
    font-family: 'AR One Sans', sans-serif;
}

.info10{
    height: 100PX;
    width: 500px;
    font-size: 30px;
    display: flex;
    position: absolute;
    top: 750px;
    left: 665px;
    font-family: 'AR One Sans', sans-serif;
}

.info11{
    height: 100PX;
    width: 500px;
    font-size: 30px;
    display: flex;
    position: absolute;
    top: 750px;
    left: 1170px;
    font-family: 'AR One Sans', sans-serif;
}